@import "colors.css";

/* typografia */

/* families*/
@font-face {
  font-family: "JetBrainsMono";
  src: url("/assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Medium.ttf"),
    url("/assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-Medium.woff2")
      format("woff2");
}

@font-face {
  font-family: "JetBrainsMono bold";
  src: url("/assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Bold.ttf"),
    url("/assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-Bold.woff2")
      format("woff2");
}

@font-face {
  font-family: "NotoSerifThai";
  src: url("/assets/fonts/Noto_Serif_Thai/static/NotoSerifThai-Regular.ttf");
}

/* sizes */
h1 {
  font-family: "JetBrainsMono";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: var(--weight3);
  line-height: 97.494%;
  letter-spacing: 0.10313rem;
  color: var(--support-1, #453d78);
}

h2 {
  color: var(--primary-dark, #715fd9);
  font-family: "JetBrainsMono";
  font-size: 1.14181rem;
  font-style: normal;
  font-weight: var(--weight3);
  line-height: normal;
}

h3 {
  font-size: 18px;
}

h4,
p {
  font-family: "NotoSerifThai";
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--weight1);
  line-height: 114.494%; /* 1.14494rem */
  letter-spacing: var(--spacing);
  color: var(--dark, #1e1e1e);
}

/* weights */
:root {
  --weight1: 400;
  --weight2: 500;
  --weight3: 700;
  --spacing: 0.055em;
}
