@import "fonts.css";
@import "colors.css";
@import "style.css";

@media (max-width: 460px) {
  /* sizes */
  h1 {
    font-size: 20px;
    letter-spacing: 0.55em;
    color: var(--support-1, #453d78);
  }

  h2 {
    font-size: 18px;
    color: var(--support-1, #453d78);
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-family: "NotoSerifThai";
    font-size: 14px;
    letter-spacing: 0.069em;
    line-height: 100.49%;
    color: var(--support-1, #453d78);
  }

  p {
    font-family: "NotoSerifThai";
    font-size: 12px;
    letter-spacing: 0.069em;
    line-height: 100.49%;
    color: var(--support-1, #453d78);
  }

  .logo a img {
    width: 80px;
    transition: transform 0.3s ease;
  }

  /* Estilos do menu */

  .menu {
    opacity: 0;
    display: none;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
  }

  .navbar button {
    border: 2px solid red;
    background-color: aqua;
  }

  .column-right img {
    display: none;
    overflow: hidden;
    opacity: 0;
  }
}
