@import "fonts.css";
@import "colors.css";

body {
  padding: 0;
  margin: 0;
  background: var(--support-2);
  margin: 0 100px;
}

/*header, nav começo */
.navbar {
  /* estilo texto destaque h1 */
  font-size: 16px;
  line-height: 97.49%;
  font-weight: 500;
  font-family: "jetBrainsMono";
  letter-spacing: 0.055em;

  background-color: var(--support-2);
  text-align: center;
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* Estilos da logo */
.logo {
  flex: 0 0 auto;
}

.logo a img {
  width: 100px;
}

/* Estilos do menu */
.menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}

.menu a {
  padding: 2em;
  text-decoration: none;
  color: var(--support-1);
  font-weight: 600;
  margin-right: 0.4em;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Estilos do botão */
.button {
  flex: 0 0 auto;
}

.button-stroke {
  /* estilo de texto 01 */
  font-size: 16px;
  line-height: 97.49%;
  font-weight: 600;
  font-family: "jetBrainsMono";
  font-size: normal;
  letter-spacing: 0.055em;

  background-color: var(--support-2);
  border: 2px solid var(--support-1);
  border-radius: 5px;
  color: var(--support-1);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efeito hover */
.menu a:hover {
  color: var(--primary-dark);
}

.button-stroke:hover {
  font-weight: 500;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--support-2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
}

/*header, nav fim*/

.container {
  display: flex;
}

.column-left {
  flex: 1;
  padding: 20px;
}

.column-left h1 {
  /* estilo de h1 */
  font-family: "NotoSerifThai";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 97.49%;
  letter-spacing: 0.055em;

  flex: 1;
  padding: 10px;
  color: var(--support-1);
}

.column-left h4 {
  font-family: "NotoSerifThai";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 114.49%;
  letter-spacing: 0.055em;

  color: var(--gray-2);
}

.column-left span {
  color: var(--primary-dark);
}

.column-left input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.column-left button {
  padding: 10px 20px;
}

.column-right {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-right img {
  max-width: 100%;
  height: auto;
}

/* testanto responsividade */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .logo {
    flex-basis: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .menu {
    flex-basis: 100%;
    justify-content: center;
  }

  .menu a {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

/* Estilos para celulares */
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }

  .logo,
  .menu,
  .button {
    flex-basis: 100%;
    text-align: center;
  }
}
