@import "fonts.css";
@import "colors.css";

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: var(--support-2);
}

button {
  font-family: "JetBrainsMono";
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--weight1);
  line-height: 97.494%; /* 0.97494rem */
  letter-spacing: 0.055rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  text-align: left;
  margin-top: 50px;
  font-family: "NotoSerifThai";
  font-size: 30px;
  font-style: normal;
  font-weight: var(--weight3);
  line-height: 121.994%; /* 2.28738rem */
  letter-spacing: 0.075rem;
  padding-top: 20px;
}

.section-title {
  text-align: center;
  font-family: "NotoSerifThai";
  font-style: normal;
  font-weight: var(--weight3);
  font-size: 20px;
  line-height: 97.49%;
  letter-spacing: 0.055em;
  padding-top: 10px;
  color: var(--support-1);
}

/* texto em destaque */
.destaque {
  color: var(--primary-dark);
}

/*header, nav começo */

.navbar {
  /* estilo texto destaque h1 */
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: var(--support-2);
}

.navbar div {
  text-align: center;
  align-items: center;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

/* Estilos da logo */
.logo {
  flex: 0 0 auto;
}

.logo a img {
  width: 90px;
  transition: transform 0.3s ease;
}

.logo a img:hover {
  transform: scale(1.2);
}

/* Estilos do menu */
#menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

#btn-menu {
  display: none;
}

.menu li {
  color: var(--support-01, #453d78);
  text-align: center;
  font-family: "JetBrainsMono";
  font-size: 1rem;
  font-style: bold;
  line-height: 97.494%; /* 0.97494rem */
  letter-spacing: 0.055rem;

  padding: 0 2em;
  margin-right: 0.4em;
  transition: 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
}

.menu li:last-child {
  padding: 0;
}

.menu li a {
  color: var(--support-1);
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: var(--weight3);
}

/* Efeito hover */
.menu li:hover {
  transform: scale(1.1);
}
.menu a:hover {
  color: var(--primary-dark);
}

/* Estilos do botão */
.button {
  flex: 0 0 auto;
}

.button-stroke {
  background-color: var(--support-2);
  border: 2px solid var(--support-1);
  border-radius: 5px;
  color: var(--support-1);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: var(--weight3);

  transition: background-color 0.3s ease;
}

.button-stroke:hover {
  font-weight: 500;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--support-2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
}
/*header, nav fim*/

/* top content */

.top-content {
  display: flex;
  align-content: space-between;
  padding-top: 150px;
}

/* coluna esquerda */
.top-content-column-left {
  flex: 1;
  width: 80%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.top-content-column-right {
  flex: 1;
}

.top-content-column-right img {
  width: 100%;
}

/* coluna esquerda título*/
.top-content-column-left h1 {
  padding-top: 10px;
  color: var(--support-1);
}

/* coluna esquerda texto*/
.top-content-column-left h4 {
  color: var(--gray-2);
}

/* form da coluna esquerda */

.item {
  margin: 0;
}

.item2 {
  width: 100%;
}

.item2 p {
  margin: 0;
  padding: 3px 0;
}

.form-sub {
  display: flex;
  width: 100%;
}

.form-sub a {
  color: var(--support-2);
}

.input-default {
  outline: none;
  height: 45px;
  background-color: rgb(255 255 255 / 0.05);
  border: 1.5px solid var(--gray-1);
  border-radius: 0.375rem;
  flex: 2;
  box-sizing: border-box;
  margin-right: 5px;
  padding-left: 10px;
}

.input-default:focus {
  border: 2px solid var(--support-1);
}

.button-default {
  align-self: flex-end;
  flex: 1;
  color: var(--support-2);
  background-color: var(--primary);
  border-radius: 0.375rem;
  border: none;
  height: 45px;
  outline: none;
  transition: all 0.3s ease;
}

.button-default:hover {
  background-color: var(--primary-light);
  cursor: pointer;
}

/* seção de serviços */
.divider {
  border-bottom: 1px solid var(--gray-1);
  margin: 100px auto;
  width: 30%;
}

.services {
  text-align: center;
}

.cards-services {
  width: 100%;
  margin: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-service {
  padding-left: 5px;
  color: var(--gray-1);
  margin: 10px 10px;
  width: 290px;
  height: 290px;
  border-radius: 4.567px;
  background: var(--support-02, #fff);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.23),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-service:hover {
  height: auto;
}

.card-service:hover img {
  border-radius: 0.28544rem;
  cursor: pointer;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.card-service p {
  width: 95%;
  padding: 5px;
  text-align: left;
  opacity: 0;
  color: var(--gray-2);
}

.card1:hover p,
.card2:hover p,
.card3:hover p {
  opacity: 1;
}

.card-service h2 {
  width: 100%;
}

.mkt-point {
  margin-top: 200px;
}

/* serviços parte 2 */
.services2 {
  background: url("../assets/imgs/bkg-services.png"),
    white 80% / cover no-repeat;
  width: 100%;
  height: 800px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.services2 img {
  padding-top: 180px;
  height: 350px;
  transition: all ease 1s;
}

.services2 ul {
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15px;
  font-family: "JetBrainsMono";
  font-size: 1.02781rem;
  font-style: normal;
  font-weight: var(--weight1);
  line-height: 98.994%; /* 1.0175rem */
  letter-spacing: 0.00513rem;
}

.services2 ul li button {
  transition: all 0.4s ease;
  cursor: pointer;
  color: white;
  padding: 10px;
  max-width: 200px;
}

.button-services-disable {
  transition: all 0.4s ease;
  background-color: rgba(64, 64, 64, 0.4);
  border-right: none;
  border-bottom: none;
  border-top: rgba(205, 205, 205, 1) 15px solid;
  border-left: rgba(205, 205, 205, 1) 15px solid;
}

.button-services-active {
  transition: all 0.4s ease;
  background-color: var(--primary);
  color: white;
  border-top: none;
  border-left: none;
  border-bottom: var(--primary-light) 15px solid;
  border-right: var(--primary-light) 15px solid;
  cursor: pointer;
}

/* team time */
.team {
  text-align: center;
}

.descript-us {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.descript-us-rightContent {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 30px;
  margin-left: 50px;
  width: 40%;
  font-weight: var(--weight2);
  color: var(--support-1);
}

.cards-team {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 5px;
}

.card-team {
  transition: all ease 0.3s;
  display: block;
  padding: 0;
  border-radius: 0.5rem;
  border: transparent 2px solid;
  box-sizing: border-box;
  max-width: 80%;
  width: 200px;

  -webkit-transition: all 1s -0.25s ease-out;
  -moz-transition: all 1s -0.25s ease-out;
  -o-transition: all 1s -0.25s ease-out;
  -ms-transition: all 1s -0.25s ease-out;
  transition: all 1s -0.25s ease-out;
}

.card-team:hover {
  border: var(--primary-dark) 2px solid;
  height: 400px;
}

.card-team div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-team article img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.card-team h4 {
  transition: all ease 0.3s;
  opacity: 0;
  margin: 0 0 15px 3px;
  text-align: left;
  font-family: "JetBrainsMono";
  font-weight: bolder;
  color: var(--support-01, #453d78);
  visibility: hidden;
}

.card-team p {
  transition: all ease 0.3s;
  opacity: 0;
  text-align: left;
  font-family: "JetBrainsMono";
  color: var(--gray-01, #828282);
  font-weight: var(--weight3);
  margin: 8px 0 0 3px;
  transform: translate(0, -10px);
  visibility: hidden;
}

.card-team:hover p,
.card-team:hover h4 {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.cards-team article h1 {
  transform: translate(0, -28px);
  margin: 0;
  color: var(--primary-dark, #715fd9);
  text-align: center;

  border-radius: 0.1875rem;
  background: var(--support-02, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  width: fit-content;
  display: inline-flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

/* coments comentários */

.comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.comment1 {
  display: flex;
  align-items: start;
  margin: 20px;
  flex: 30%;
}

.img-comment {
  height: 80%;
  margin-right: 10px;
}

.comment1 div {
  text-align: left;
}

.comment1 h3 {
  margin: 0;
  padding: 0;

  color: rgba(64, 64, 64, 0.92);
  letter-spacing: 0.06875rem;
}

.comment1 div img {
  margin: 0;
  padding: 0;
}

.comment1 p {
  font-size: 12px;
  margin: 0;
}

/* contact contato */
.contact {
  text-align: center;
}
.text-contact {
  display: flex;
  align-items: end;
}

.text-contact h1 {
  margin: 0;
  padding: 0;
}

.contact div p {
  padding: 0;
  margin-bottom: 5px;
}

.contact-form {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

/* lado esquerdo de contatos - contact-left */
.contact-left-content {
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
}

/* lado direito de contatos contact-right */
.contact-righ-content {
  flex: 1;
}

.contact-righ-content img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.divider-contact {
  display: flex;
  flex-direction: row;
  height: 10px;
  justify-content: center;
  margin: 20px 0;
}

.divider1-contact {
  display: block;
  border-bottom: 1px solid var(--gray-1);
  margin: 0;
  margin-top: 0;
  padding-top: 0;
  width: 42%;
}

.divider-contact h4 {
  margin: 0;
  padding: 0;
  margin: 0 2%;
  color: var(--support-1, #453d78);
}

.contact-left-content h1 {
  margin: 0;
  padding: 0;
}

.form-contact {
  display: inline;
  width: 100%;
}

.form-contact input {
  display: block;
  margin: 10px 0;
  width: 80%;
}

.form-contact input:nth-child(3) {
  width: 50%;
}

.form-contact div {
  width: 80%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pass-confirm {
  display: flex;
  align-items: top;
}

.form-contact div input {
  margin: 0;
}

.form-contact div input:last-child {
  margin-left: 5px;
}

.form-contact button {
  margin: 10px 0;
}

.button-subscrible {
  color: var(--support-2);
}

.icon-social {
  display: flex;
  flex-direction: row;
}

.icon-social img {
  margin-left: 10px;
  margin-right: 5px;
  height: 20px;
  transition: all ease 0.3s;
  padding-bottom: 3px;
  border-bottom: transparent 4px solid;
}

.icon-social img:hover {
  cursor: pointer;
  transform: scale(1.3);
  border-bottom: var(--primary) 4px solid;
}

/* footer */
footer {
  text-align: left;
}

footer ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
}

footer ul li {
  list-style: none;
  color: var(--gray-2);
}

footer ul li a {
  text-decoration: none;
  color: var(--gray-2);
}
footer ul li a:hover {
  font-weight: 800;
  cursor: pointer;
  color: var(--primary-dark);
  text-decoration: underline;
}

footer ul li:first-child {
  width: 30%;
}

footer h1 {
  margin: 0;
  margin-top: 10px;

  padding: 0;
  color: var(--primary);
  padding-bottom: 15px;
  font-size: 20px;
}

footer h2 {
  color: var(--gray-2);
  font-size: 16px;
}

footer p {
  color: var(--gray-2);
  font-family: "NotoSerifThai";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 128.494%; /* 1.28494rem */
  letter-spacing: 0.04rem;
}

footer ul li img {
  height: 100px;
  padding-bottom: 10px;
}
