@import "fonts.css";
@import "colors.css";

body {
  padding: 0;
  margin: 0;
  background: var(--support-2);
  margin: 0 100px;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

/*header, nav começo */
header {
  display: flex;
  justify-content: center;
}
.navbar {
  /* estilo texto destaque h1 */
  position: fixed;
  z-index: 1000;
  font-size: 16px;
  line-height: 97.49%;
  width: 100%;
  font-weight: 500;
  font-family: "jetBrainsMono";
  letter-spacing: 0.055em;
  background-color: var(--support-2);
  text-align: center;
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* Estilos da logo */
.logo {
  flex: 0 0 auto;
}

.logo a img {
  width: 100px;
  transition: transform 0.3s ease;
}

.logo a img:hover {
  transform: scale(1.2);
}

/* Estilos do menu */
.menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  padding: 2em;
  text-decoration: none;
  color: var(--support-1);
  font-weight: 600;
  margin-right: 0.4em;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  list-style-type: none;
}

/* Efeito hover */
.menu li:hover {
  color: var(--primary-dark);
  transform: scale(1.1);
}

/* Estilos do botão */
.button {
  flex: 0 0 auto;
}

.button-stroke {
  /* estilo de texto 01 */
  font-size: 16px;
  line-height: 97.49%;
  font-weight: 600;
  font-family: "jetBrainsMono";
  font-size: normal;
  letter-spacing: 0.055em;

  background-color: var(--support-2);
  border: 2px solid var(--support-1);
  border-radius: 5px;
  color: var(--support-1);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-stroke:hover {
  font-weight: 500;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--support-2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
}
/*header, nav fim*/

/* top content */

.top-content {
  display: flex;
  align-content: space-between;
  padding-top: 150px;
}

/* coluna esquerda */
.column-left {
  flex: 1.6;
  width: 80%;
  margin-right: 2%;
  display: flex;
  height: 34.375em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

/* coluna esquerda título*/
.column-left h1 {
  /* estilo de h1 */
  font-family: "NotoSerifThai";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 97.49%;
  letter-spacing: 0.055em;

  padding-top: 10px;
  color: var(--support-1);
}
/* texto em destaque */
.destaque {
  color: var(--primary-dark);
}

/* coluna esquerda texto*/
.column-left h4 {
  font-family: "NotoSerifThai";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 114.49%;
  letter-spacing: 0.055em;

  color: var(--gray-2);
}

/* form da coluna esquerda */

.item2 {
  width: 100%;
}

.item2 p {
  margin: 0;
  padding: 3px 0;
  font-family: "NotoSerifThai";
}

.form-sub {
  display: flex;
  width: 100%;
  align-content: flex-end;
}

.input-default {
  outline: none;
  color: rgb(255 255 255);
  height: 45px;
  background-color: rgb(255 255 255 / 0.05);
  border: 1.5px solid var(--gray-1);
  border-radius: 0.375rem;
  flex: 2;
  box-sizing: border-box;
  margin-right: 5px;
}

input-default:focus {
  border: 2px solid var(--primary);
}

.button-default {
  align-self: flex-end;
  flex: 1;
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: var(--primary);
  border-radius: 0.375rem;
  border: none;
  height: 45px;
  outline: none;
}

.button-default:hover {
  background-color: var(--primary-light);
  cursor: pointer;
}

/* coluna da direita */
.column-right {
  flex: 2;
  text-align: right;
}

/* imagem a direita */
.column-right img {
  max-width: 100%;
  height: auto;
}

/* seção de serviços */
.divider {
  border-bottom: 1px solid var(--gray-1);
  margin: 100px auto;
  width: 30%;
}

.services {
  text-align: center;
}

.services h1 {
  font-family: "NotoSerifThai";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 97.49%;
  letter-spacing: 0.055em;

  padding-top: 10px;
  color: var(--support-1);
}

.cards-services {
  width: 100%;
  margin: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-service {
  padding-bottom: 1px;
  color: var(--gray-1);
  width: 290px;
  border-radius: 4.567px;
  background: var(--support-02, #fff);
  box-shadow: 2px 3.653846263885498px 7.307692527770996px -1.826923131942749px rgba(9, 30, 66, 0.25);
}

.card-service:hover img {
  border-radius: 0.28544rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.card1:hover p::before {
  content: "O marketing se concentra em atender às necessidades dos clientes de maneira lucrativa e sustentável, ao mesmo tempo que alcança objetivos de negócios de longo prazo da empresa. Clique e saiba mais";
}

.card2:hover p::before {
  content: "O designer de publicações trabalha em estreita colaboração com o redator, o editor e outros membros da equipe de produção para garantir que o design complemente a mensagem da publicação";
}
.card3:hover p::before {
  content: "O marketing se concentra em atender às necessidades dos clientes de maneira lucrativa e sustentável, ao mesmo tempo que alcança objetivos de negócios de longo prazo da empresa. Clique e saiba mais";
}

.card-service h2 {
  color: var(--primary-dark);
  font-family: "JetBrainsMono";
  font-size: 18px;
  width: 100%;
}

.card-service p {
  font-size: 14px;
  width: 95%;
  padding: 5px;
  text-align: left;
}

.services2 {
  margin-top: 100px;
  background: url("../assets/imgs/bkg-services.png"),
    lightgray 80% / cover no-repeat;
  filter: blur(6.5px);
  width: 100%;
  height: 600px;
}

/* testanto responsividade */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .logo {
    flex-basis: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .menu {
    flex-basis: 100%;
    justify-content: center;
  }

  .menu a {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

/* Estilos para celulares */
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }

  .logo,
  .menu,
  .button {
    flex-basis: 100%;
    text-align: center;
  }
}
